hr.style1 {
  border-top: 2px solid black;
}

ul.bar {
  display: inline-block;
  list-style-type: none;
}

li.bar {
  display: inline;
  font-size: 25px;
  padding: 8px;

}

.two_align {
  display: flex;
  justify-content: space-between;
}
.pad h1{
  padding: 4px;
}
.pad p{
  padding: 4px;
}
.grad {
  background-image: linear-gradient(to bottom, rgba(0, 100, 255, 0), rgba(0, 100, 255, 0.25));
}
.pad li{
  padding: 4px;
}
